{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Search Page</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png"  href="{% static 'img/new_favicon.png' %}">
    
 

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    body,html{
        background: url(../static/img/search_bg.jpg) no-repeat center / cover; 
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    }
</style>
<body>
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
    
                <div class="navbar-header">
                   
                    <a class="site-title" style="color: white;"><span>Tour</span>Recommendation</a>
    
                </div><!-- /.navbar-header -->
    
                <div class="collapse navbar-collapse" id="agency-navbar-collapse" >
    
                    <ul class="nav navbar-nav navbar-right" >
    
                        <li ><a href="{% url 'index' %}" style="color: white;">Home</a></li>
                        <li class="active"><a href="{% url 'search_page' %}" style="color: white;">Search</a></li>
                        <li ><a href="{% url 'login_page'%}" style="color: white;">Login</a></li>
                        <li><a href="{% url 'register_page' %}" style="color: white;">Register</a></li>
    
                    </ul>
    
                </div>
    
            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->
    <div id="search" class="search content">
    <div class="search-text h1">
       <h1>Search a place or a image.</h1>
    </div>
       <div class="search-container">
        <form class="search-form" action="#" method="get">
            <input type="text" name="search" placeholder="Search">
            <input  type="file" name="image_search" accept="image/*">
            <button type="submit">Search</button>
          </form>
       </div> 
    </div>
</body>